
@{
    ViewBag.Title = "AfterRegistration";
}

<h2>Thank you for registering</h2>
<div>
    <img width="300" height="100" src=@("/Template/barcode"+ViewBag.UserId+".gif")>
</div>

<div>Ctrl+P для печати</div>

